$light: #f2f2f2;
$light-accent: #e9c153;
$light-error: #cd5c5c;
$dark: #222222;
$dark-accent: #ca9647;
$dark-error: #cf0404;

:root {
  --spacing-nm: #{clamp(0.625rem, 0.5vw, 0.75rem)};
  --spacing-sm: #{clamp(0.15rem, 0.2vw, 0.25rem)};
  --radius-nm: #{clamp(0.35rem, 0.35vw, 0.5rem)};

  --color-background: #{$light};
  --color-text: #{$dark};
  --color-accent: #{$dark-accent};
  --color-error: #{$dark-error};

  @media (prefers-color-scheme: dark) {
    --color-background: #{$dark};
    --color-text: #{$light};
    --color-accent: #{$light-accent};
    --color-error: #{$light-error};
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}
