@import "~/style/base.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #555;
}

*, *::before, *::after {
  font-family: "Consolas", "Menlo", "Monaco", "Courier New", monospace;
  box-sizing: border-box;
}
